@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#C5DFF8
#A0BFE0
#7895CB
#4A55A2
*/
:root {
  --color-primary: #538b56;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #538b56;
    --background-color: #fff;
  }
}

html {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}
