@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#C5DFF8
#A0BFE0
#7895CB
#4A55A2
*/
:root {
    --main-color: #4a55a2;
    --background-color: #c5dff8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #c5dff8;
        --background-color: #4a55a2;
    }
}

body {
    color: var(--main-color);
    background: var(--background-color);
}
